<p id="notice"><%= notice %></p>
<center>
<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>   </th>
      <th>User</th>
      <th>Full name</th>
      <th>Birthday</th>
      <th>Email</th>
      <th>Adress</th>
      <th>City</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <div class="round-image-50">
<%= image_tag(user.avatar.url(:thumb)) %>
      </div></td>
        <td><%= user.user %></td>
        <td><%= user.full_name %></td>
        <td><%= user.birthday %></td>
        <td><%= user.email %></td>
        <td><%= user.adress %></td>
        <td><%= user.city %></td>
        <td><%= user.country %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Уверен, ёпта?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "My profile", current_user %>|
<%= link_to "Sign out", signout_path, method: "delete" %>


</center>