<p id="notice"><%= notice %></p>
<center>
<div class="round-image-300">
<%= image_tag(@user.avatar.url(:medium)) %>
</div>

<p>
  <strong>User:</strong>
  <%= @user.user %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @user.adress %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @user.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @user.longitude %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Listing Users', users_path %> |
<%= link_to "Sign out", signout_path, method: "delete" %>
</center>