<p id="notice"><%= notice %></p>
<center>
<h1>Listing Post</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Author</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><div class="round-image-50"><%= image_tag(post.user.avatar.url(:thumb)) %></div></td>
        <td><strong><%= post.user.user%></strong></td>
        <td><%= RedCloth.new(post.poster).to_html.html_safe %></td>
        <td><%= RedCloth.new(truncate(post.body, length: 160, separator: ' ')).to_html.html_safe %></td>
        <td><span class="timestamp">
              Posted <%= time_ago_in_words(post.created_at) %> ago.
            </span>
        </td>
        <td><%= link_to 'show', post_path(post) %></td>
        </tr>
    <% end %>
  </tbody>
 </table>
  | <%= link_to current_user.user, current_user %> |<br>
  | <%= link_to 'My posts', my_posts_path %> |
  </center>
  <%= form_tag(posts_path, :method => "get") do %>
  <%= text_field_tag :by_poster, params[:by_poster], placeholder: "Search by title" %>
  <%= submit_tag "Search" %>
<% end %>
  <%= form_tag(posts_path, :method => "get") do %>
  <%= text_field_tag :by_body, params[:by_body], placeholder: "Search by body" %>
  <%= submit_tag "Search" %>
<% end %>
 <%= form_tag(posts_path, :method => "get") do %>
  <%= text_field_tag :by_name, params[:by_name], placeholder: "Search by name" %>
  <%= submit_tag "Search" %>
<% end %>
 <%= form_tag(posts_path, :method => "get") do %>
  <%= text_field_tag :by_city, params[:by_city], placeholder: "Search by city" %>
  <%= submit_tag "Search" %>
<% end %>
<%= link_to "Back to All Posts", posts_path%>

